{% if baseapp().isLoggedIn() and baseapp('user').inGroup('admin') %}
<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter" id="baseapp-alerts-counter"></span>
    </a>
    <script>Baseapp.addToIntervalCallStack('baseapp_alerts_controller:getHeader',Baseapp.Alerts.getCurrentAlertsFromHeader,Baseapp.Alerts.updateHeader)</script>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown" id="baseapp-alerts-content">
        {% include '@Baseapp/alerts/header-inner.html.twig' %}
    </div>
</li>
{% endif %}