<h6 class="dropdown-header">
    Alerts Center
</h6>
{% if alerts is defined and alerts|length > 0 %}
    {% for alert in alerts %}
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                {% include '@Baseapp/alerts/symbol.html.twig' %}
            </div>
            <div>
                <div class="small text-gray-500">{{ alert.createdAt|date('d.m.Y H:i') }}</div>
                <span class="font-weight-bold">{{ alert.content }}</span>
            </div>
        </a>
    {% endfor %}
{% endif %}
<a class="dropdown-item text-center small text-gray-500" href="{{ path('baseapp_alerts') }}">Show All Alerts</a>