{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alerts</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('baseapp_alert_clear') }}"><i class="fas fa-minus"></i> Clear</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>{% include '@Baseapp/alerts/symbol.html.twig' %}</td>
                            <td>{{ alert.createdAt|date('d.m.Y H:i') }}</td>
                            <td>{{ alert.content }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}