{% if alert.type == 'info' %}
    <div class="icon-circle bg-warning">
        <i class="fas fa-check-circle text-white"></i>
    </div>
{% elseif alert.type == 'warning' %}
    <div class="icon-circle bg-warning">
        <i class="fas fa-exclamation-circle text-white"></i>
    </div>
{% elseif alert.type == 'error' %}
    <div class="icon-circle bg-danger">
        <i class="fas fa-exclamation-circle text-white"></i>
    </div>
{% elseif alert.type == 'loginfo' %}
<div class="icon-circle bg-info">
    <i class="fas fa-exclamation-circle text-white"></i>
</div>
{% elseif alert.type == 'success' %}
    <div class="icon-circle bg-success">
        <i class="fas fa-check-circle text-white"></i>
    </div>
{% endif %}