{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('baseapp_user_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Groups</th>
                        <th>Verified</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{% for group in user.groups %}{{ group.groupname }}{% if not loop.last %},{% endif %}{% endfor %}</td>
                            <td>{% if user.verified %}yes{% else %}{% endif %}</td>

                            <td>
                                <a class="margin-right" href="{{ url('baseapp_user_update',{id:user.id}) }}" title="Edit"><i style="font-size: 24px;" class="fas fa-edit"></i></a>
                                <a class="margin-right" href="{{ url('baseapp_user_password_update',{id:user.id}) }}" title="Edit Password"><i style="font-size: 24px;" class="fas fa-key"></i></a>
                                <a class="margin-right" href="{{ url('baseapp_user_group_update',{id:user.id}) }}" title="Edit Group"><i style="font-size: 24px;" class="fas fa-users"></i></a>
                                <a class="margin-right" href="{{ url('baseapp_user_profile_update',{id:user.id}) }}" title="Edit Profile"><i style="font-size: 24px;" class="fas fa-user"></i></a>
                                <a href="#" class="baseapp-modal-dialog" data-title="Warning" data-body="Do you want to delete user '{{ user.username }}'?" data-button="Ok" data-href="{{ url('baseapp_user_delete',{id:user.id}) }}" title="Delete"><i style="font-size: 24px;" class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}