{% extends '@Baseapp/layout-plain.html.twig' %}

{% block inner_content %}
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                {% block introtext %}
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                {% endblock %}
                                {% block form %}
                                {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_widget(form.username, { 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Username'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.password, { 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Password'} }) }}
                                    </div>
                                    {% if iserror %}
                                        <div class="form-group">
                                            <p style="color:red;">Credentials not valid</p>
                                        </div>
                                    {% endif %}
                                    {{ form_widget(form.submit, { 'attr': {'class': "btn btn-primary btn-user btn-block"} }) }}
                                {{ form_end(form) }}
                                {% endblock %}
                                <hr>
                                {% block forgot_password %}
                                <div class="text-center">
                                    <a class="small" href="{{ path('baseapp_forgotpassword') }}">Forgot Password?</a>
                                </div>
                                {% endblock %}
                                {% block create_account %}
                                <div class="text-center">
                                    <a class="small" href="{{ path('baseapp_register') }}">Create an Account!</a>
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}