{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <style>
        .websocketlog {
            margin: 10px;
            padding: 10px;
            border:1px solid grey;
        }
    </style>

    {% for port in ports %}
        <div class="row">
            <div class="col-12">
                <div class="state{{ port }}"></div>
                <div class="serverstart{{ port }}">
                    <button type="button"onclick="Baseapp.apicall('baseapp_websocket_controller:startserver',{'port':{{ port}}}, socketReload{{ port }})">Start</button>
                </div>
                <div class="serverstop{{ port }}">
                    <button type="button" onclick="socket{{ port }}.send('shutdown');">Stop</button>

                    <button onclick="socket{{ port }}.send('log');">GetLog</button>
                    <button onclick="socket{{ port }}.send('log',{'method':'clear'});">Clear Log</button>
                    <div class="health{{ port }}"></div>

                </div>
                <hr>
            </div>
        </div>
        <script>
            var socket{{ port }};
            function socketReload{{ port }}()
            {
                window.setTimeout(function(){
                    Baseapp.reload();
                },500);
            }
            $(document).ready(function() {
                socket{{ port }} = Baseapp.Websocket.create({{ port }});
                socket{{ port }}.open();
                socket{{ port }}.connection.onopen = function(e) {
                    $('.state{{ port }}').html('ALIVE on port {{ port }}');
                    $('.serverstart{{ port }}').hide();
                    $('.serverstop{{ port }}').show();
                    socket{{ port }}.send('auth',{'username':'{{ baseapp('user').username }}','token':'{{ baseapp('user').token }}'});
                    socket{{ port }}.connection.onclose = function(e) {
                        socketReload{{ port }}()
                    };
                    window.setInterval(function(){
                        socket{{ port }}.send('health');
                    },2000);
                    socket{{ port }}.send('health');
                };
                socket{{ port }}.connection.onerror = function(e) {
                    $('.state{{ port }}').html('DEAD on port {{ port }}');
                    $('.serverstart{{ port }}').show();
                    $('.serverstop{{ port }}').hide();
                };
                socket{{ port }}.addListener('log',function(e){
                    $('.websocketlog').html(e.replace(/\n/g, "<br />"));
                });
                socket{{ port }}.addListener('health',function(e){
                    $('.health{{ port }}').html(
                        'Clients: '+(e.client_count-1)+
                        ', Memory usage: '+(e.memory_usage_percent)+'%'+
                        ', Started: '+(e.start)
                    );
                });

            });
        </script>
    {% endfor %}
    <div class="websocketlog"></div>


{% endblock %}