{% extends '@Baseapp/layout-with-sidebar.html.twig' %}
{% form_theme form with ['@Baseapp/form/theme.html.twig', '@FOSCKEditor/Form/ckeditor_widget.html.twig'] %}

{% block content_inner %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {% set counter = 0 %}
                        <div id="accordion">
                            {% for group in groups %}
                                {% set counter = counter + 1 %}
                                {% set list = [] %}
                                {% for field in fields %}
                                    {% if field.settings_group_key == group.settings_group_key %} 
                                        {% set form_element = getFormRowByName(form,field.settings_group_key,field.settings_key) %}                                
                                        {% if form_element %}
                                            {% set list = list|merge([form_element]) %}
                                        {% endif %}                                
                                    {% endif %}
                                {% endfor %}            
                                {% if list|length %}
                                    <div class="card mb-3">
                                        <div class="card-header" id="heading{{ counter }}">
                                            <h5 class="mb-0">
                                                <h6>{{ group.settings_group_name }}</h6>
                                            </h5>
                                        </div>
                                        <div id="collapse{{ counter }}" class="collapse show" aria-labelledby="heading{{ counter }}" data-parent="#accordion">
                                            <div class="card-body">
                                                {% for single_form_element in list %}
                                                    {{ form_row(single_form_element) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>                
                                {% endif %}            
                            {% endfor %}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}