<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {{ baseapp_gui().headMetas.render()|raw }}
    {% endblock %}
    <base href="{{ baseuri() }}" />

    <title>{% block title %}Home{% endblock %}</title>
    <script>
        var BaseappSingleJsonUri = "{{ path('baseapp_single_json_api') }}";
        var BaseappStackJsonUri = "{{ path('baseapp_stack_json_api') }}";
        var BaseappServerIp = "{{ app.request.server.get('SERVER_ADDR') }}";
        var BaseappServerHost = "{{ app.request.server.get('HTTP_HOST')|split(':')|first }}";
    </script>
    {% block head_javascripts %}
        {{ baseapp_gui().headJavascripts.render()|raw }}
    {% endblock %}
    {% block head_stylesheets %}
        {{ baseapp_gui().headStyleSheets.render()|raw }}
    {% endblock %}
</head>
    {% block body_begin %}<body id="page-top">{% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer_stylesheets %}
        {{ baseapp_gui().footerStyleSheets.render()|raw }}
    {% endblock %}

    {% block footer_javascripts %}
        {{ baseapp_gui().footerJavascripts.render()|raw }}
    {% endblock %}

    {% block body_end %}</body>{% endblock %}
</html>