{% extends '@Baseapp/base.html.twig' %}

{% block body_begin %}<body class="bg-gradient-primary">{% endblock %}

{% block content %}
    <div class="container">
        {% block header %} {% endblock %}

        {% include('@Baseapp/partials/flash.html.twig') %}

        {% block inner_content %}{% endblock %}
    </div>
{% endblock %}