{% extends '@Baseapp/base.html.twig' %}

{% block content %}
    <div id="wrapper">
        {% block sidebar %}
            {{ include('@Baseapp/partials/sidebar.html.twig') }}
        {% endblock %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% block content_header %}
                    {{ include('@Baseapp/partials/header.html.twig') }}
                {% endblock %}
                <div class="container-fluid">
                    {% include('@Baseapp/partials/flash.html.twig') %}

                    {% block content_inner %}{% endblock %}
                </div>
            </div>

            {% block content_footer %}
                {{ include('@Baseapp/partials/footer.html.twig') }}
            {% endblock %}


        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {{ include('@Baseapp/partials/logout-modal.html.twig') }}
    
{% endblock %}