<a class="collapse-item {{ active ? 'active':'' }} {{ linkClass }}" href="{{ routeName ? path(routeName) : '#' }}" {% for key,value in linkDataTags%} data-{{key}}="{{value}}" {% endfor %}>
    {{ options.title }}
</a>