<li class="nav-item {{ active ? 'active':'' }}">
    <a class="nav-link {{ linkClass }}" href="{{ routeName ? path(routeName) : '#' }}" {% for key,value in linkDataTags%} data-{{key}}="{{value}}" {% endfor %}>
        {% if options.icon is defined %}<i class="{{ options.icon }}"></i>{% endif %}
        <span>{{ options.title }}</span></a>
</li>