<li class="nav-item {{ active ? 'active':'' }}">
    <a class="nav-link {% if not active %}collapsed{% endif %} {{ linkClass }}" href="#" data-toggle="collapse" data-target="#collapse{{ name }}" aria-expanded="{% if active %}true{% else %}false{% endif %}" aria-controls="collapse{{ name }}" {% for key,value in linkDataTags%} data-{{key}}="{{value}}" {% endfor %}>
        {% if options.icon is defined %}<i class="{{ options.icon }}"></i>{% endif %}
        <span>{{ options.title }}</span></a>
    <div id="collapse{{ name }}" class="collapse {% if active %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {{ childs.render()|raw }}
        </div>
    </div>
</li>