{% extends '@Baseapp/layout-plain.html.twig' %}
{% form_theme form '@Baseapp/form/theme.html.twig' %}

{% block inner_content %}
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    {#<p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>#}
                                </div>
                                {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_widget(form.username, { 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Username'} }) }}
                                        {{ form_errors(form.username) }}
                                    </div>
                                {{ form_widget(form.submit, { 'attr': {'class': "btn btn-primary btn-user btn-block"} }) }}
                                {{ form_end(form) }}
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ path('baseapp_register') }}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ path('baseapp_login') }}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}