<div class="row">
    <div class="col-1" style="color:red">{% if message.highprio %}!{% endif %}</div>
    <div class="col-11">
        <b>{{ message.from ? message.from.username : 'niemand' }}</b> - {{ message.sendAt.format('Y-m-d') }}<br>
        {{ message.subject }}
    </div>

</div>