{% use "bootstrap_4_layout.html.twig" %}

{% block checkbox_widget %}
  {% spaceless %}
  <div>
      <label class="custom_switch" for="{{ id }}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="custom_slider round"></span>      
      </label>
      {{ label|trans({}, translation_domain) }}
    </div>
  {% endspaceless %}
{% endblock checkbox_widget %}


{% block form_label %}
  {% if 'checkbox' not in block_prefixes %}
    {{ parent() }}
  {% endif %}
{% endblock form_label %}