{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Groups</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('baseapp_group_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Group</th>
                        <th>Group intern</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.groupname }}</td>
                            <td>{{ group.Interngroupname }}</td>
                            <td>
                                <a class="margin-right" href="{{ url('baseapp_group_update',{id:group.id}) }}" title="Edit"><i style="font-size: 24px;" class="fas fa-edit"></i></a>
                                <a href="#" class="baseapp-modal-dialog" data-title="Warning" data-body="Do you want to delete group '{{ group.groupname }}'?" data-button="Ok" data-href="{{ url('baseapp_group_delete',{id:group.id}) }}" title="Delete"><i style="font-size: 24px;" class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}