.margin-right {
    margin-right: 15px;
}

 /* The switch - the box around the slider */
 .custom_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.custom_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.custom_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.custom_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .custom_slider {
  background-color: #2196F3;
}

input:focus + .custom_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .custom_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.custom_slider.round {
  border-radius: 34px;
}

.custom_slider.round:before {
  border-radius: 50%;
} 