{% extends '@Baseapp/layout-with-sidebar.html.twig' %}
{% form_theme form with ['@Baseapp/form/theme.html.twig', '@FOSCKEditor/Form/ckeditor_widget.html.twig'] %}

{% block content_inner %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Message</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}