{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <style>
        .dataTables_wrapper table thead{
            display:none;
        }
        .dataTables_length {
            display:none;
        }
        #dataTable tbody tr[data-active='true'] {
            background-color: grey;
            color:white;
        }
        #dataTable tbody tr:hover {
            background-color: lightgrey;
            cursor: pointer;
        }
        .subject-content {
            padding: 10px;
        }
        .message-content {
            border:1px solid lightgrey;
            padding: 10px;
        }
        #dataTable_filter input {
            width: 100%;
        }
    </style>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Devices</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('baseapp_message_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr data-function="messages-list-entry" data-detail-id="{{ message.id }}" data-active="{{ loop.first ? 'true' : 'false' }}">
                            <td>{% include '@Baseapp/message/partials/list-entry.html.twig' with {'message':message} %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                {% if messages|length > 0 %}
                    {% include '@Baseapp/message/partials/detail-entry.html.twig' with {'message':messages|first } %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "ordering": false
            });
            $('#dataTable_length').parent().css('display','none');
            Baseapp.Messages.run();
        });
    </script>
{% endblock %}