<!-- Nav Item - Messages -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter" id="baseapp-message-header-count"></span>
    </a>
    <script>Baseapp.addToIntervalCallStack('baseapp_message_controller:getUnreadMessagesHeader',Baseapp.Messages.getCurrentUnreadMessagesFromHeader,Baseapp.Messages.updateHeader)</script>
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown" id="baseapp-message-header-content">
        {% include '@Baseapp/message/partials/header/messages-inner.html.twig' %}
    </div>
</li>