<h6 class="dropdown-header">
    Message Center
</h6>
{% if headermessages is defined and headermessages|length > 0 %}
    {% for message in headermessages %}
        <a class="dropdown-item d-flex align-items-center" href="#">
            {#<div class="dropdown-list-image mr-3">
                <div class="status-indicator bg-success"></div>
            </div>#}
            <div class="font-weight-bold">
                <div class="text-truncate">{{ message.subject }}</div>
                <div class="small text-gray-500">{{ message.from.username }} · {{ message.sendAt.format('Y-m-d') }}</div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <div class="dropdown-item d-flex align-items-center">
        <div class="font-weight-bold">
            <div class="text-truncate">No new messages.</div>
        </div>
    </div>
{% endif %}
<a class="dropdown-item text-center small text-gray-500" href="{{ path('baseapp_message') }}">Show all messages</a>