{% extends '@Baseapp/layout-plain.html.twig' %}
{% form_theme form '@Baseapp/form/theme.html.twig' %}

{% block inner_content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form.username, { 'attr': {'class': "form-control form-control-user",
                                    'placeholder': 'Username/Email','novalidate': 'novalidate'} }) }}
                                {{ form_errors(form.username) }}
                                {% if userExists %}
                                    <span class="invalid-feedback d-block">
                                        <span class="d-block">
                                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span> <span class="form-error-message">User already exists.</span>
                                        </span>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form_widget(form.password.first, { 'attr': {'class': "form-control form-control-user",
                                        'placeholder': 'Password','novalidate': 'novalidate'} }) }}
                                    {{ form_errors(form.password.first) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_widget(form.password.second,{ 'attr': {'class': "form-control form-control-user",
                                        'placeholder': 'Repeat Password','novalidate': 'novalidate'} }) }}
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </div>
                            {{ form_widget(form.submit, { 'attr': {'class': "btn btn-primary btn-user btn-block"} }) }}
                        {{ form_end(form) }}
                        <hr>

                        <div class="text-center">
                            <a class="small" href="{{ path('baseapp_forgotpassword') }}">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{{ path('baseapp_login') }}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}