<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown_{{ name }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ options.title }}</span>
        {% if options.icon is defined %}<i class="{{ options.icon }}"></i>{% endif %}
    </a>

    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="dropdown_{{ name }}">
        {{ childs.render()|raw }}
    </div>
</li>
