<a class="dropdown-item {{ linkClass }}" href="{{ routeName ? path(routeName) : '#' }}" {% for key,value in linkDataTags%} data-{{key}}="{{value}}" {% endfor %}>
    {% if options.icon is defined %}<i class="{{ options.icon }}"></i>{% endif %}
    {{ options.title }}
</a>