{% set messages = app.flashes() %}
{% for key,message in messages %}
    {% for singlemessage in message %}
        <div class="alert alert-{{ key }}">
            {{ singlemessage }}
        </div>
    {% endfor %}
{% endfor %}
