<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>{{ include('@Baseapp/partials/copyright.html.twig') }}</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->