{% set url = app.request.requestUri %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {% if not baseapp('appstate').sidebarStateOpen %}toggled{% endif %}" id="accordionSidebar">
    {{ include('@Baseapp/partials/sidebar/header.html.twig') }}
    {{ include('@Baseapp/partials/sidebar/inner.html.twig') }}
    {{ include('@Baseapp/partials/sidebar/footer.html.twig') }}
</ul>
<!-- End of Sidebar -->
